
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script>
var homeApp=angular.module('homeApp', []);
homeApp.controller('MyHomepage', ['$scope',
    function ($scope) {
        $scope.userData=[];
        $scope.userData[0] = JSON.parse(localStorage.getItem('userData'));
console.log("userData:: "+$scope.userData[0].name); 
  
  }]);


    
    </script>
<body ng-app="homeApp" ng-controller="MyHomepage">
<!-- <h1 align="center"> Welcome to user details page</h1> -->



<table border="1" align="center" width="400" bgcolor="#CCCCCC">

        <caption><h3>User Details Page</h3></caption>
        <!-- {{userData}} -->
        <tr>

            <th>username</th>

            <td>
                {{userData[0].name}}
            </td>

        </tr>

        <tr>

            <th>Address</th>

            <td>
                    {{userData[0].address}}
            </td>

        </tr>

        <tr>

                <th>Department</th>
    
                <td>
                        {{userData[0].department}}
                </td>
    
            </tr>

        <tr>


                <tr>

                        <th>Field</th>
            
                        <td>
                                {{userData[0].filed}}
                        </td>
            
                    </tr>
        
                <tr>

                        <tr>

                                <th>Date Of Birth</th>
                    
                                <td>
                                        {{userData[0].dob | date}}
                                </td>
                    
                            </tr>
                
                        <tr>


            <td colspan="2" align="center">
                    <a href="/">Want to login as a diffrent user? Please Sign In</a>

            </td>

        </tr>

    </table>



</body>