<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-local-storage/0.7.1/angular-local-storage.js"></script>

    <title>Login Form</title>

</head>

<script>



    var app = angular.module('myApp', []);
    app.controller('MyCtrl', ['$scope', '$http',
        function ($scope, $http) {
            $scope.formInfo = {};
            $scope.responceData = {};
            $scope.saveData = function () {
                console.log($scope.formInfo);
                $http({
                    url: "http://localhost:8012/api/authenticate",
                    method: "POST",
                    headers: { 'Content-Type': 'application/json' },
                    data: JSON.stringify($scope.formInfo)
                }).then(function (responce) {


                    console.log('responce ', (responce.data));
                    $scope.responceData = responce.data;
                    localStorage.setItem('userData', JSON.stringify(responce.data.data));
                    if (responce.data.status == true) {
                        window.location.assign("http://localhost:8012/homepage")
                    }
                    else {
                        alert("Result : " + responce.data.message);
                    }
                });


            }
        }]);



</script>


<body>

    <form class="form-horizontal" role="form" ng-app="myApp" ng-controller="MyCtrl">

        <table border="1" align="center" width="400" bgcolor="#CCCCCC">

            <caption>
                <h3>Login form</h3>
            </caption>

            <tr>

                <th>Enter your username</th>

                <td>
                    <input type="text" ng-model="formInfo.name" id="name" name="name" required/>
                </td>

            </tr>

            <tr>

                <th>Enter your password</th>

                <td>
                    <input type="password" ng-model="formInfo.password" id="password" name="password" required/>
                </td>

            </tr>



            <tr>

                <td colspan="2" align="center">
                    <input type="submit" value="Sign In" ng-click="saveData()" />
                    <a href="http://localhost:8012/register">New User?Sign Up</a>

                </td>

            </tr>

        </table>

    </form>

</body>

</html>