<html>
    <head>

        <title>Registration</title>
    
        <head>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-local-storage/0.7.1/angular-local-storage.js"></script>
            
           
        </head>
    </head>
<script>
  var regApp = angular.module('regApp', []);
  regApp.controller('regPage', ['$scope', '$http',
        function ($scope, $http) {
            $scope.formInfo = {};
            $scope.responceData = {};
            $scope.saveData = function (pass,cPass) {

 if(pass!=cPass){
     
     alert("Incorrect Password Match!!")
     return false;
  }

                console.log($scope.formInfo);
                $http({
                    url: "http://localhost:8012/api/register",
                    method: "POST",
                    headers: { 'Content-Type': 'application/json' },
                    data: JSON.stringify($scope.formInfo)
                }).then(function (responce) {


                    console.log('responce ', (responce.data));
                    $scope.responceData = responce.data;
                    if (responce.data.status == true) {
                        alert("User Registered Successfully !! ");
                        window.location.assign("http://localhost:8012/")
                    }
                    else {
                        alert("Result : " + responce.data.message);
                    }
                });


            }

$scope.checkErr = function(dobDate) {
    $scope.errMessage = '';
    var curDate = new Date();

   
    if(new Date(dobDate) > curDate){
       $scope.errMessage = 'Invalid date of birth !! Cant be greater than todays date';
       alert("Invalid date of birth !! DOB Can't be greater than todays date")
       return false;
    }
};

$scope.changeDepartment = function(department) {
    $scope.field = [];
    if(department=='HR')
    {
        $scope.field=["HR Recuiretement","HR Operation","HR Head"]
    }
    else if(department=='Software')
    {
        $scope.field=["Developer","QA","DBA"]
    }
    else if(department=='Admin')
    {
        $scope.field=["N/w Admin","Asset Admin","Operation Admin"]
    }
    else
    {
        $scope.field = [];
    }
   
};


        }]);


</script>




<body>

    <form class="form-horizontal" role="form" ng-app="regApp" ng-controller="regPage">

        <table border="1" align="center" width="400" bgcolor="#CCCCCC">

            <caption>
                <h3>Registration form</h3>
            </caption>

            <tr>

                <th>Enter your username</th>

                <td>
                    <input type="text" name="name" id="name" ng-model="formInfo.name" required/>
                </td>

            </tr>

            <tr>

                <th>Enter your password</th>

                <td>
                    <input type="password" name="password" ng-model="formInfo.password" id="password" />
                </td>

            </tr>

            <tr>

                <th>ReEnter your password</th>

                <td>
                    <input type="password" ng-model="formInfo.confPassword"/>
                </td>

            </tr>


            <tr>

                <th>Address</th>

                <td>
                    <input type="test" name="address" id="address" ng-model="formInfo.address"/>
                </td>

            </tr>



            <tr>

                <th>Department</th>

                <td>

                    <select name="department" id="department" ng-model="formInfo.department" ng-change='changeDepartment(formInfo.department)'>
                        <option value="HR">HR</option>
                        <option value="Software">Software</option>
                        <option value="Admin">Admin</option>
                    </select>

                </td>

            </tr>


            <tr>

                <th>Field</th>

                <td>

                    <select name="field" id="field" ng-model="formInfo.field">
                        <option ng-repeat="x in field">{{x}}</option>
                        <!-- <option value="melbourne">IT</option>
                        <option value="cromwell">Manager</option> -->
                    </select>

                </td>

            </tr>



            <tr>

                <th>Select your DOB</th>

                <td>
                    <input type="date" name="dob" id="dob" ng-model="formInfo.dob"  
                    ng-change='checkErr(formInfo.dob)'/>
                </td>

            </tr>





            <tr>

                <td colspan="2" align="center">
                    <input type="submit" value="Sign Up" ng-click="saveData(formInfo.password,formInfo.confPassword)"/>
                    <a href="/">Already have a account?Sign In</a>

                </td>

            </tr>

        </table>

    </form>

</body>

</html>